In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#500_Person_Gender_Height_Weight_Index (2).csv

In [4]:
data1 = pd.read_csv('data/500_Person_Gender_Height_Weight_Index (2).csv')
data1

     Gender  Height  Weight  Body_Mass
0      Male     174      96          4
1      Male     189      87          2
2    Female     185     110          4
3    Female     195     104          3
4      Male     149      61          3
..      ...     ...     ...        ...
495  Female     150     153          5
496  Female     184     121          4
497  Female     141     136          5
498    Male     150      95          5
499    Male     173     131          5

[500 rows x 4 columns]

In [5]:
data1.head()

   Gender  Height  Weight  Body_Mass
0    Male     174      96          4
1    Male     189      87          2
2  Female     185     110          4
3  Female     195     104          3
4    Male     149      61          3

In [6]:
data1.tail()

     Gender  Height  Weight  Body_Mass
495  Female     150     153          5
496  Female     184     121          4
497  Female     141     136          5
498    Male     150      95          5
499    Male     173     131          5

In [7]:
data1.columns

Index(['Gender', 'Height', 'Weight', 'Body_Mass'], dtype='object')

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
Gender       500 non-null object
Height       500 non-null int64
Weight       500 non-null int64
Body_Mass    500 non-null int64
dtypes: int64(3), object(1)
memory usage: 13.7+ KB

In [9]:
data1.shape

(500, 4)

In [10]:
type(data1)

pandas.core.frame.DataFrame

In [11]:
data1.describe()

           Height      Weight   Body_Mass
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [12]:
data1.index

RangeIndex(start=0, stop=500, step=1)

In [13]:
data1.values

array([['Male', 174, 96, 4],
       ['Male', 189, 87, 2],
       ['Female', 185, 110, 4],
       ...,
       ['Female', 141, 136, 5],
       ['Male', 150, 95, 5],
       ['Male', 173, 131, 5]], dtype=object)

In [24]:
data1['Height']

0      174
1      189
2      185
3      195
4      149
      ...
495    150
496    184
497    141
498    150
499    173
Name: Height, Length: 500, dtype: int64

In [28]:
from sklearn import linear_model
Height = data1['Height']
Weight = data1['Weight']
Index = data1['Body_Mass']

In [34]:
Index

0      4
1      2
2      4
3      3
4      3
      ..
495    5
496    4
497    5
498    5
499    5
Name: Body_Mass, Length: 500, dtype: int64

In [36]:
data1.dropna(axis='columns',how='any')

     Gender  Height  Weight  Body_Mass
0      Male     174      96          4
1      Male     189      87          2
2    Female     185     110          4
3    Female     195     104          3
4      Male     149      61          3
..      ...     ...     ...        ...
495  Female     150     153          5
496  Female     184     121          4
497  Female     141     136          5
498    Male     150      95          5
499    Male     173     131          5

[500 rows x 4 columns]

In [72]:
data1['Gender']=data1['Gender'].replace('Male',0)
data1['Gender']=data1['Gender'].replace('Female',1)

In [79]:
x = data1[['Height','Weight']]
x.head(2)

   Height  Weight
0     174      96
1     189      87

In [84]:
y = data1[['Body_Mass']]
y.head(3)

   Body_Mass
0          4
1          2
2          4

In [86]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [89]:
data1.shape

(500, 4)

In [90]:
x_train.shape

(400, 2)

In [91]:
x_test.shape

(100, 2)

In [92]:
y_train.shape

(400, 1)

In [94]:
y_test.shape

(100, 1)

In [99]:
from sklearn import linear_model
sk_model = linear_model.LinearRegression()

In [100]:
sk_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [101]:
sk_model.coef_

array([[-0.03353797,  0.03217434]])

In [102]:
sk_model.intercept_

array([6.04602266])

In [103]:
sk_model.rank_

2

In [104]:
new_predict = sk_model.predict(x_test)

In [105]:
sk_model.score(x_test,y_test)

0.8354209146931079

In [106]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [107]:
mean_absolute_error(y_test,new_predict)

0.5239036558390915

In [109]:
mean_squared_error(y_test,new_predict)

0.402412321483882

In [110]:
r2_score(y_test,new_predict)

0.8354209146931079

In [111]:
from sklearn.model_selection import cross_val_predict

In [112]:
cv_result = cross_val_predict(sk_model,x_train,y_train,cv = 30)
cv_result

array([[4.93269449],
       [4.97661078],
       [3.66917469],
       [2.45441246],
       [4.2541997 ],
       [4.40901439],
       [1.94331971],
       [4.90945632],
       [1.91119486],
       [3.3440532 ],
       [2.03291644],
       [2.89721014],
       [2.74837736],
       [5.21116727],
       [3.48948727],
       [3.55431512],
       [2.06041954],
       [2.85565238],
       [5.75543893],
       [3.38116096],
       [4.00323964],
       [5.50838776],
       [4.12785691],
       [4.10854289],
       [2.34912181],
       [3.72864497],
       [3.35496115],
       [2.95692489],
       [3.50870428],
       [4.57308979],
       [3.8027896 ],
       [2.84331361],
       [4.33505656],
       [2.16964975],
       [2.83805873],
       [2.6976317 ],
       [2.93566494],
       [5.90450447],
       [3.37017728],
       [4.40337004],
       [3.45790707],
       [5.29229598],
       [3.43641512],
       [4.97729831],
       [3.17408654],
       [2.9846718 ],
       [3.6925022 ],
       [2.28225625],
       [3.83409306],
       [2.18931592],
       [3.74468682],
       [2.82152505],
       [4.12434296],
       [2.26811991],
       [4.36040355],
       [3.87178997],
       [5.95153324],
       [4.64661531],
       [4.84259289],
       [5.51814503],
       [2.61772133],
       [2.69261693],
       [2.88409722],
       [5.51464961],
       [3.87545103],
       [3.71093227],
       [4.54401233],
       [4.93121418],
       [3.0084186 ],
       [2.86312467],
       [3.80971299],
       [4.26241314],
       [6.03081337],
       [2.6868344 ],
       [4.32216409],
       [4.57956226],
       [2.27405414],
       [4.45314716],
       [1.05111171],
       [2.14098359],
       [1.64418859],
       [2.87613168],
       [5.66252096],
       [5.13023877],
       [2.71639022],
       [4.21273603],
       [6.36020279],
       [2.46058182],
       [6.09204524],
       [3.38233015],
       [3.95913397],
       [2.7865169 ],
       [5.32263592],
       [4.80607946],
       [1.97463475],
       [3.17516916],
       [3.9616038 ],
       [3.72012867],
       [4.03236067],
       [4.21470221],
       [4.22236546],
       [4.45701258],
       [1.04327762],
       [3.11162915],
       [4.75081684],
       [3.95453491],
       [5.02757586],
       [2.98925645],
       [5.09403812],
       [3.7085243 ],
       [1.78851919],
       [5.48550659],
       [2.98465204],
       [2.16828715],
       [4.61154682],
       [3.52365164],
       [2.32934439],
       [6.08728034],
       [3.3638495 ],
       [5.63549217],
       [1.75157545],
       [1.37363309],
       [5.6277383 ],
       [5.55544327],
       [3.8298903 ],
       [3.99249831],
       [3.20237653],
       [2.60853158],
       [4.04175848],
       [3.66892998],
       [3.57836561],
       [4.61442449],
       [5.37272382],
       [4.08277235],
       [3.15347962],
       [6.05531656],
       [3.29203261],
       [5.67820133],
       [3.88068255],
       [3.11744291],
       [5.60233508],
       [5.17126652],
       [4.21286573],
       [3.69261015],
       [2.96142229],
       [4.27055354],
       [2.72571549],
       [4.80248779],
       [2.28756873],
       [2.2695189 ],
       [4.31231577],
       [5.56021933],
       [4.66976937],
       [3.66220548],
       [4.65623738],
       [4.06539987],
       [6.4113572 ],
       [5.11722275],
       [3.26028539],
       [4.68994311],
       [2.99713754],
       [3.72451973],
       [3.47723741],
       [2.70200575],
       [3.8829804 ],
       [4.93085393],
       [4.84697973],
       [3.33319489],
       [4.58029327],
       [3.69852552],
       [2.93879568],
       [3.52760145],
       [2.06674704],
       [4.83196514],
       [5.54531124],
       [4.91521536],
       [4.55459897],
       [4.10919054],
       [2.86025971],
       [2.80363771],
       [5.64029571],
       [3.11263517],
       [5.40444189],
       [4.31835354],
       [5.63453887],
       [4.7548805 ],
       [3.82510583],
       [4.1765438 ],
       [4.04752703],
       [4.05776141],
       [3.167229  ],
       [2.54048698],
       [3.26732019],
       [3.8955986 ],
       [4.17592996],
       [4.03942842],
       [5.04784945],
       [6.06208422],
       [2.73157363],
       [2.31615751],
       [5.32085253],
       [4.3932381 ],
       [2.30878036],
       [5.18141967],
       [2.34405386],
       [4.20756081],
       [1.68299972],
       [1.74577216],
       [5.35657374],
       [3.23662827],
       [3.76883616],
       [5.00313576],
       [4.0595017 ],
       [2.02074812],
       [3.56209235],
       [4.74385643],
       [3.37991717],
       [3.49522513],
       [2.71223782],
       [4.79543017],
       [1.63321546],
       [5.63847619],
       [3.8786966 ],
       [3.55276703],
       [2.4723927 ],
       [4.80717527],
       [4.03982057],
       [5.48574157],
       [2.44806357],
       [6.20592875],
       [4.86944362],
       [3.05880859],
       [5.20147395],
       [4.24222498],
       [3.09165253],
       [4.45462082],
       [5.03022594],
       [3.1122729 ],
       [5.6996196 ],
       [3.65904667],
       [4.89109118],
       [3.17796078],
       [2.50719862],
       [2.32554753],
       [4.0079296 ],
       [3.23495712],
       [1.28688811],
       [3.81392824],
       [3.64953994],
       [2.64615324],
       [2.62208437],
       [5.47863499],
       [3.91909042],
       [4.43935715],
       [5.68519251],
       [3.1927879 ],
       [4.34298428],
       [6.24431062],
       [3.54324695],
       [2.50347188],
       [1.63000027],
       [4.30747259],
       [4.53144097],
       [2.95843389],
       [2.82977229],
       [4.09971093],
       [3.30605812],
       [3.05147313],
       [3.28282614],
       [3.02777046],
       [1.59591075],
       [3.71369556],
       [1.89641055],
       [4.04183173],
       [3.61676474],
       [3.1841476 ],
       [2.93784196],
       [1.96246922],
       [3.93047218],
       [5.15538633],
       [3.06348774],
       [3.78972609],
       [2.35558547],
       [4.78272904],
       [3.22435069],
       [5.72168725],
       [4.67038213],
       [3.05120262],
       [4.59618669],
       [4.08188944],
       [2.99142477],
       [2.635858  ],
       [2.46991872],
       [3.65208153],
       [3.84173948],
       [2.50599314],
       [4.25630907],
       [3.16651488],
       [2.83260281],
       [3.20899545],
       [2.99199315],
       [3.40537821],
       [2.61170656],
       [4.52393257],
       [4.40631731],
       [4.71332456],
       [5.10484859],
       [4.40242337],
       [4.63500143],
       [4.03747988],
       [1.85311678],
       [5.65992424],
       [4.12060319],
       [2.65991727],
       [3.14107619],
       [3.10992497],
       [4.53858319],
       [3.03814147],
       [4.22316616],
       [2.26785683],
       [2.12553805],
       [3.11029672],
       [5.94735466],
       [3.29465986],
       [5.70978641],
       [4.76400185],
       [2.77866778],
       [3.85623389],
       [3.22216342],
       [1.51809219],
       [4.93521149],
       [5.40137115],
       [3.4517065 ],
       [5.95821883],
       [2.64430115],
       [4.52997478],
       [3.01853039],
       [1.53506537],
       [5.04812125],
       [5.11696668],
       [5.96048474],
       [5.70544117],
       [2.73086989],
       [4.36346837],
       [1.82782003],
       [3.86269485],
       [1.75049717],
       [5.03477796],
       [3.39589338],
       [3.82402578],
       [3.08050804],
       [2.48675425],
       [5.70187887],
       [5.71799167],
       [3.60510446],
       [3.09662085],
       [4.85388326],
       [2.43688968],
       [5.13708556],
       [2.51253473],
       [3.02106091],
       [2.31183297],
       [4.71076741],
       [4.51056718],
       [2.44632269],
       [4.06273514],
       [2.34532217],
       [3.40449535],
       [4.49829239],
       [3.87033988],
       [4.79015383],
       [5.69795945],
       [3.3646023 ],
       [5.0455906 ],
       [3.99764019],
       [2.4361392 ],
       [4.23045983],
       [4.38931386],
       [4.85972131],
       [3.41107233],
       [4.70655977],
       [1.11834399],
       [2.44371695],
       [3.69843271],
       [4.26272945],
       [2.65615075],
       [2.81500478],
       [5.20088494],
       [5.88631082],
       [5.65404395],
       [4.69869688],
       [3.67307501],
       [4.5532441 ],
       [3.91684729],
       [2.70269234],
       [2.64039278],
       [1.87384017],
       [2.34961792],
       [4.33967371],
       [4.32450742]])

In [113]:
np.mean(cv_result)

3.7926744909324785

In [114]:
np.max(cv_result)

6.411357195242234

In [118]:
np.min(cv_result)

1.0432776228560545

In [119]:
x_test

     Height  Weight
466     188      99
253     162     159
369     147      67
418     162     130
42      157      56
..      ...     ...
97      160     139
231     153      78
476     164     142
433     179     127
457     175      83

[100 rows x 2 columns]

In [123]:
sk_model.predict([[159,104]])

array([[4.05961709]])

In [124]:
sk_model.predict([[174,96]])

array([[3.29915288]])